<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <div class="card d-flex flex-column justify-content-between">
      <div>
        <h1><%= @cocktail.name %></h1>
        <h2>Ingredients:</h2>
        <% @cocktail.doses.each do|dose| %>
          <div class='d-flex justify-content-between'>
            <p><%= dose.description%> | <%= dose.ingredient.name %></p>
            <p><%= link_to cocktail_dose_path(@cocktail, dose), method: :delete,
              data: { confirm: "Are you sure?" }, class: "font-red" do%></p>
                 <i class='far fa-trash-alt'></i>
              <% end %>
            </div>
        <% end %>
      </div>
      <div>
        <p><%= link_to "Add Ingredient to Cocktail", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary" %></p>
        <p><%= link_to "Back to Cocktails", root_path, class: "btn btn-outline-primary mt-4"  %><p>
      </div>
    </div>
    <div class="drink-image">
    </div>

</div>
